{% liquid
	assign class = 'col-xs-12 col-sm-6 col-md-4'
	if _class
		assign class = _class
	endif
%}
<address class="feather-address {{ class }}">
	{% if title %}<h6>{{ title }}</h6>{% endif %}
	{{ address | format_address }}
</address>