{% liquid
	assign type = 'alert--info'
	if alert_type
		assign type = 'alert--' | append: alert_type
	endif
%}

<div class="alert {{ type }} row">
	<div class="alert__icon">{% render 'icon-info' %}</div>
	<div class="alert__message">{{ alert_message }}</div>
</div>