<div class="feather-breadcrumbs">
	<div class="container container--padding">
		<div class="row">
			{% if template.name == 'list-collections' %}
				<span>Collections</span>
				{% render 'icon-caret' %}
			{% endif %}
			{% if collection %}
				{{ 'Collections' | link_to: '/collections', 'All Collections' }}
				{% render 'icon-caret' %}
				<span>{{ collection.title }}</span>
			{% endif %}
			{% if product %}
				{{ 'Collections' | link_to: '/collections', 'All Collections' }}
				{% render 'icon-caret' %}
				<span>{{ product.title }}</span>
			{% endif %}
		</div>
	</div>
</div>