{% liquid 
  assign row_class = 'end-md'
  if paginate and paginate.pages > 1
    assign row_class = 'between-md'
  endif
%}

<div class="row hide-md">
  <a data-toggle="[data-filters]" data-toggle-class="animate__fadeInUp,animate__fadeOutDown" class="feather-filters__btn button" title="Filters">{% render 'icon-filter' %}<span>Filter</span></a>
</div>
{% if collection.filters %}
<div data-filters class="feather-filters__filters row animate__animated">
  <div class="feather-filters__header hide-md row middle-xs">
    <h4>Filters</h4>
    <a data-toggle="[data-filters]" data-toggle-class="animate__fadeInUp,animate__fadeOutDown" title="Close Filters">
      {% render 'icon-close' %}
    </a>
  </div>
  <div class="row">
    {% for filter in collection.filters %}
      {% render 'filters-type', filter: filter %}
    {% endfor %}
  </div>
</div>
{% endif %}
{% if collection.sort_by %}
  <div class="feather-filters__sort row {{ row_class }}">
    {% render 'pagination' paginate: paginate %}
    <a title="Sort By" class="feather-select feather-select--dropdown">
      <select data-sortby>
          <option value="null">Sort By</option>
        {% for option in collection.sort_options %}
          <option value="{{ option.value }}">{{ option.name }}</option>
        {% endfor %}
      </select>
    </a>
  </div>
{% endif %}