<div class="form form__address">
  {% if address %}
    {% form 'customer_address', address %}
      {% render 'form-address-fields', address: address, form: form %}
    {% endform %}
  {% else %}
    {% form 'customer_address', customer.new_address %}
      {% render 'form-address-fields', form: form %}
    {% endform %}
  {% endif %}
</div>