{%
	assign alert_class = 'hide'
	assign checkout_class = ''
	if cart.item_count == 0
		assign alert_class = ''
		assign checkout_class = 'hide'
	endif
%}
<div data-cart="overlay" class="feather-menu-cart animate__animated">
	<div data-cart="dialog" class="feather-menu-cart__dialog animate__animated">
		<a href="/" data-btn="cart:overlay" class="feather-menu-cart__dialog-close container container--padding">
			{% render 'icon-caret' %}
			<p>Continue Shopping</p>
		</a>
		<div class="feather-menu-cart__dialog-header container container--padding">
			<h4>Cart</h4>
			<p data-cart-item-count>{{ cart.items.size }} Products</p>
		</div>
		<div data-alert="cart-empty" class="feather-menu-cart__dialog-body container container--padding {{ alert_class }}">
			{% render 'alert', alert_type: 'success', alert_message: 'Your shopping cart is empty' %}
		</div>
		<div class="feather-menu-cart__dialog-body container container--padding">
			<div data-cart-items class="feather-cart-items">
				{% if cart.item_count != 0 %}
					{% for item in cart.items %}
						{% render 'cart-item', item: item %}
					{% endfor %}
				{% endif %}
			</div>
			<div class="feather-cart-subtotal container container--padding">
				{% render 'cart-subtotal' %}
			</div>
			<div class="feather-cart-checkout container container--padding">
				<a href="/checkout" class="button button--primary {{ checkout_class }}">Proceed To Checkout</a>
				<a href="/cart" class="button">View Shopping Cart</a>
			</div>
		</div>
	</div>
</div>