<div class="feather-modal animate__animated" data-modal="address">
	<div class="feather-modal__dialog animate__animated">
		<div class="feather-modal__dialog-header">
			<div class="container container--padding">
				<h5>Feather Modal</h5>
				<button data-btn="modal:address" class="feather-modal__close-btn">
					{% render 'icon-close' %}
				</button>
			</div>
		</div>
		<div class="feather-modal__dialog-body">
			<div class="container container--padding">
				
			</div>
		</div>
		<div class="feather-modal__dialog-footer">
			<div class="container container--padding">
				
			</div>
		</div>
	</div>
</div>