<div
	class="feather-modal animate__animated"
	data-modal="{{ id }}"
	onclick="modalUIBounds(event, '{{ id }}')"
	>
	<div data-modal-dialog class="feather-modal__dialog animate__animated">
		<div class="feather-modal__dialog-header">
			<div class="container container--padding">
				<h5>{{ title }}</h5>
				<button 
					class="feather-modal__close-btn"
					onclick="modalInactiveUI(event, '{{ id }}')"
				>
					{% render 'icon-close' %}
				</button>
			</div>
		</div>
		<div class="feather-modal__dialog-body">
			<div class="container container--padding">
				{% if address or id == 'address-new' %}
					{% render 'form-address', address: address %}
				{% endif %}
			</div>
		</div>
		<div class="feather-modal__dialog-footer">
			<div class="container container--padding">
				
			</div>
		</div>
	</div>
</div>