<div data-newsletter class="feather-newsletter animate__animated">
	<div class="form">
		<div class="container container--padding container--md">
			{% form 'customer' %}
				<div class="row center-xs">
				  <div class="input">
				    <input type="email" name="contact[email]" placeholder="Newsletter Signup" />
				  </div>
				  <input class="button" type="submit" value="Sign up" />
				</div>
			{% endform %}
		</div>
	</div>
</div>