<form class="feather-product__add-to-cart form row">
	<div class="input">
		<input data-quantity type="number" min="1" placeholder="Quantity" required />
		<input data-add-to-cart type="submit" class="button button--primary button-disabled" value="In The Cart" />
	</div>
</form>