<section class="feather-product__variant-slider col-xs-12 col-lg-6">
	<div class="container">
		<div class="swiper" data-variant-swiper="{{ section.id }}">
			<div class="swiper-wrapper">
				<div class="swiper-slide swiper-slide__featured">
					<img src="{{ product.featured_image | img_url: 'x1200' }}" alt="{{ product.title }}">
				</div>
				{% for variant in product.variants %}
					{% render 'variant-slider-item', variant: variant %}
				{% endfor %}
				{% for media in product.media %}
					<div class="swiper-slide swiper-slide__media" data-variant-slide-item="{{ product.id }}">
						{% render 'media', media: media %}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>

