<section class="feather-product__variant-slider col-xs-12 col-lg-6">
	<div class="container">
		<div data-variant-slider="{{ section.id }}" class="glide">
			<div data-glide-el="track" class="glide__track">
				<ul class="glide__slides">
					{% for variant in product.variants %}
						{% render 'variant-slider-item', variant: variant %}
					{% endfor %}
				</ul>
			</div>
			<div data-glide-el="controls" class="glide__arrows">
		    <button class="glide__arrow glide__arrow--left" data-glide-dir="<">{% render 'icon-arrow'%}</button>
		    <button class="glide__arrow glide__arrow--right" data-glide-dir=">">{% render 'icon-arrow'%}</button>
		  </div>
		</div>
	</div>
</section>

