{% liquid
	assign categories = tabs | map: 'type' | join: ',' | append: ',description' | split: ',' | sort | uniq
%}
<div class="feather-product__description row">
	{% render 'tab-content', raw: tabs, categories: categories %}
</div>