<div class="feather-product__description row">
	<div class="feather-product__description-tabs">
		<a
			data-tab="description"
			class="button button--active"
			title="description"
		>description</a>
	</div>
	<div class="feather-product__description-tab-content">
		{{ product.description }}
	</div>
</div>