<form class="form">
	<div class="form__input">
		<input type="text" placeholder="Search" />
		<div class="form__input-icon">
			{% render 'icon-search' %}
		</div>
	</div>
	<div class="form__search-results container container--padding">
	</div>
</form>