{%- if settings.predictive_search_enabled -%}
	<predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
		<form class="form">
			<div action="{{ routes.search_url }}" method="get" role="search" class="form__input">
				<input type="text" placeholder="Search" />
				<div class="form__input-icon">
					{% render 'icon-search' %}
				</div>
			</div>
		</form>
	</predictive-search>
{%- endif -%}