<div class="container container--padding container--lg">
	<div class="row">
		<div class="col-xs-12">
			<h1>{{ template.name }}</h1>
		</div>
		<div class="col-xs-12">
			<ul>
				<li class="link link--active">
					<a title="Account" href="/account">Account</a>
				</li>
				<li class="link">
					<a title="Addresses({{ customer.addresses_count }})" href="/account/addresses">Addresses({{ customer.addresses_count }})</a>
				</li>
			</ul>
		</div>
	</div>
</div>

{% schema %}
	{
		"name": "Addresses Navigation",
		"tag": "section",
		"class": "feather-account-navigation"
	}
{% endschema %}