<div class="container container--padding container--lg">
	<div class="row">
		<div class="col-xs-12">
			<h3>Addresses</h3>
		</div>
	</div>
</div>

{% schema %}
	{
		"name": "Addresses Preview",
		"tag": "section",
		"class": "feather-addresses-preview"
	}
{% endschema %}