<div class="feather-banner">
	<h2>{{ section.settings.text }}</h2>
	<div class="feather-banner__overlay"></div>
	<img
		src="{{ 'feather-banner-bg-1200-800.jpg' | asset_img_url: '300x' }}"
		alt="{{ page_title }}"
	/>
</div>

{% schema %}
	{
		"name": "Banner",
		"class": "section__banner",
		"settings": [
			{
				"id": "text",
				"type": "text",
				"default": "Shop Style",
				"label": "Banner Text"
			}
		]
	}
{% endschema %}