<div class="banner">
	hi
	<img
		src="../assets/images/home/feather-bg-1200-800.jpg" alt="{{ page_title }}"
		srcset="../assets/images/home/feather-bg-600-853.jpg 1x,
		../assets/images/home/feather-bg-768-512.jpg 2x,
		../assets/images/home/feather-bg-1200-800.jpg 3x, "
	>
</div>