<div class="container container--padding">
	<div class="row">
		<div class="col-xs-12">
			<h5>Summary</h5>
		</div>
	</div>
	<div class="row feather-cart-subtotal">
		{% render 'cart-discount' %}
		{% render 'cart-subtotal' %}
		<div class="feather-total">
			<p>Total</p>
			<p data-cart-total>{{ cart.total_price | money }}</p>
		</div>
		<div class="feather-taxes-shipping">
			<p>Taxes and shipping calculated at checkout*</p>
		</div>
	</div>
</div>
{% if cart.item_count != 0 %}
	<div class="container container--padding">
		<a href="/checkout" class="button button--primary">Proceed To Checkout</a>
	</div>
{% endif %}

{% schema %}
	{
		"name": "Cart Summary",
		"tag": "section",
		"class": "feather-cart-summary"
	}
{% endschema %}