<div class="container container--padding">
	<div class="feather-cart-items__header row show-flex-lg">
		<div class="feather-cart-items__header-image">
			<p>Product</p>
		</div>
		<div class="feather-cart-items__header-title"></div>
		<div class="feather-cart-items__header-quantity">
			<p>Quantity</p>
		</div>
		<div class="feather-cart-items__header-price">
			<p>Unit Price</p>
		</div>
		<div class="feather-cart-items__header-price">
			<p>Total</p>
		</div>
	</div>
	<div data-cart-items class="row">
		{% if cart.item_count != 0 %}
			{% for item in cart.items %}
				{% render 'cart-item', item: item %}
			{% endfor %}
		{% endif %}
	</div>
</div>

{% schema %}
	{
		"name": "Cart Items",
		"tag": "section",
		"class": "feather-cart-items"
	}
{% endschema %}