<div class="container container--padding container--lg">
	<ul class="row">
		{% for collection in collections %}
			<li
				data-in-view
				class="col-xs-6 col-sm-4 col-md-3"
			>{% render 'item', item: collection %}</li>
		{% endfor %}
	</ul>
</div>

{% schema %}
	{
		"name": "Collection List",
		"class": "feather-collection__list",
		"tag": "section",
		"settings": []
	}
{% endschema %}