{% paginate collections.collection by section.settings.paginate_count %}
	<div class="feather-filters container container--lg container--padding">
		{% render 'filters', paginate: paginate %}
	</div>
	<div class="container container--padding container--lg">
		<ul data-feather-results class="row">
			{% for collection in collections %}
				<li
					data-in-view
					class="col-xs-6 col-sm-4"
				>{% render 'item', item: collection %}</li>
			{% endfor %}
		</ul>
	</div>
	<div class="container container--lg container--padding">
		<div class="row center-xs">
			{% render 'pagination', paginate: paginate %}
		</div>
	</div>
{% endpaginate %}

{% schema %}
	{
		"name": "Collection List",
		"class": "feather-collection__list",
		"tag": "section",
		"settings": [
			{
				"id": "paginate_count",
				"type": "number",
				"label": "Paginate Products By",
				"default": 10
			}
		]
	}
{% endschema %}