<div class="container">
	<h1>{{ section.settings.title }}</h1>
</div>

{% schema %}
	{
		"name": "Collection Header",
		"class": "feather-collection__header",
		"tag": "section",
		"settings": [
			{
				"id": "title",
				"type": "text",
				"default": "Collections",
				"label": "Page Title",
				"info": "Page at '/collections'"
			}
		]
	}
{% endschema %}