<div class="row">
	<div class="row col-xs-12 col-md-8">
		<a class="feather-collection-banner__item">
			<img src="{{ 'feather-livingroom.jpg' | asset_img_url: '1200x900' }}" alt="" />
		</a>
	</div>
	<div class="row col-xs-12 col-md-4">
		<a class="feather-collection-banner__item col-xs-6 col-md-12">
			<img src="{{ 'feather-bedroom.jpg' | asset_img_url: '1200x450' }}" alt="" />
		</a>
		<a class="feather-collection-banner__item col-xs-6 col-md-12">
			<img src="{{ 'feather-dinningroom.jpg' | asset_img_url: '1200x450' }}" alt="" />
		</a>
	</div>
</div>


{% schema %}
	{
		"name": "Collections Banner",
		"class": "feather-collection-banner",
		"tag": "section"
	}
{% endschema %}