<div class="container container--padding container--sm">  
  {% form 'recover_customer_password' %}
    {% render 'form-errors', section: section.id, form: 'forgot-password', errors: form.errors %}
    <div class="row">
      <div class="form__input  col-xs-12" data-input="email">
        <label for="email">Email</label>
        <input placeholder="Email" type="email" name="email"/>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <button class="button button--primary" type="submit">Submit</button>
      </div>
    </div>
  {% endform %}
</div>

{% schema %}
  {
    "name": "Forgot Password Form",
    "class": "feather-forgot-password-form",
    "tag": "section"
  }
{% endschema %}