{% 
	liquid

	assign gallery_width = nil
	if section.settings.gallery_width != 'fluid'
		assign tagline_container_width = section.settings.gallery_width
	endif
%}

<div class="container container--padding{% if gallery_width %} container--{{ gallery_width }}{% endif %}"
	>
	<div class="row">
		<div class="col-xs-12 col-md-4">
			<h5>{{ section.settings.tagline }}</h5>
		</div>
		<div class="feather-gallery-images col-xs-12 col-md-8">
			<div class="row">
				{% for block in section.blocks %}
					{% liquid 
						assign alt = product.title
						if block.image.alt
							assign alt = block.settings.image.alt
						endif
					%}
					<div class="feather-gallery-image col-xs-12 col-md-6">
						<img src="{{ block.settings.image.src | img_url: '1200x' }}" alt="{{ alt }}">
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

{% schema %}
	{
		"name": "Gallery",
		"tag": "section",
		"class": "feather-gallery",
		"settings": [
			{
				"id": "tagline",
				"type": "text",
				"label": "Tagline",
				"default": "It's the piece that could tie up your room"
			},
			{
				"id": "gallery_width",
				"type": "select",
				"label": "Max Width",
				"options": [
			    {
			      "value": "xs",
			      "label": "Extra Small"
			    },
			    {
			      "value": "sm",
			      "label": "Small"
			    },
			    {
			      "value": "md",
			      "label": "Medium"
			    },
			    {
			      "value": "lg",
			      "label": "Large"
			    },
			    {
			      "value": "xl",
			      "label": "Extra Large"
			    },
			    {
			      "value": "fluid",
			      "label": "Fluid"
			    }
			  ],
			  "default": "xl"
			}
		],
		"blocks": [
			{
	      "type": "images",
	      "name": "Gallery Images",
	      "settings": [
	        {
	          "id": "image",
	          "type": "image_picker",
	          "label": "Gallery Image"
	        }
	      ]
	    }
	  ],
  	"presets": [
  		{
  			"name": "Gallery",
  			"blocks": [
  				{
  					"type": "images"
  				}
  			]
  		}
  	]
	}
{% endschema %}