<header>
	<div class="container container--fluid">
		<nav class="nav">
			<div id="logo" class="nav__logo">
				<a  href="/">
					{%- if section.settings.logo != blank -%}
						<img
							srcset="{{ section.settings.logo | image_url: width: section.settings.logo_width }} 1x, {{ section.settings.logo | image_url: width: image_size_2x }} 2x"
							alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
						/>
	        {%- else -%}
	        	<span>{{ shop.name }}</span>
	        {%- endif -%}
	      </a>
			</div>
			<ul class="nav__links"></ul>
			<div class="nav__mobile-menu-btn">
				{% render 'icon-hamburger' %}
				{% render 'icon-close' %}
			</div>
		</nav>
	</div>
</header>