<div class="container container--padding">
	<div class="row">

	</div>
</div>

{% schema %}
	{
		"name": "Related Products",
		"tag": "section",
		"class": "feather-product__related",
	}
{% endschema %}