<div class="row">
	{% render 'product-variant-slider' %}
	{% render 'product-details' %}
</div>

{% schema %}
	{
		"name": "Product Main",
		"tag": "div",
		"class": "product__main",
		"blocks": [
			{
	      "type": "dimensions",
	      "name": "Dimensions & Weight",
	      "settings": [
	        {
	          "id": "title",
	          "type": "text",
	          "label": "Label"
	        },
	        {
	          "id": "value",
	          "type": "text",
	          "label": "Value"
	        }
	      ]
	    },
	    {
	      "type": "materials",
	      "name": "Materials & Properties",
	      "settings": [
	        {
	          "id": "title",
	          "type": "text",
	          "label": "Label"
	        },
	        {
	          "id": "value",
	          "type": "text",
	          "label": "Value"
	        }
	      ]
	    },
	    {
	      "type": "shipping",
	      "name": "Shipping Details",
	      "settings": [
	        {
	          "id": "title",
	          "type": "text",
	          "label": "Label"
	        },
	        {
	          "id": "value",
	          "type": "text",
	          "label": "Value"
	        }
	      ]
	    },
	    {
	      "type": "miscellaneous",
	      "name": "Miscellaneous",
	      "settings": [
	        {
	          "id": "title",
	          "type": "text",
	          "label": "Label"
	        },
	        {
	          "id": "text",
	          "type": "richtext",
	          "label": "Description"
	        }
	      ]
	    }
	  ]
	}
{% endschema %}

