{% paginate collection.products by section.settings.paginate_count %}
	<div class="feather-filters container container--lg container--padding">
		{% render 'filters', paginate: paginate %}
	</div>
	<div class="container container--padding container--lg">
		{% if collection and collection.products.size > 0 %}
			<ul data-feather-results class="row">
				{% for product in collection.products %}
					<li
						data-in-view
						class="col-xs-6 col-sm-4"
					>{% render 'item', item: product %}</li>
				{% endfor %}
			</ul>
		{% else %}
			{% render 'alert', alert_type: 'success' , alert_message: 'No products found' %}
		{% endif %}
	</div>
	<div class="container container--lg container--padding">
		<div class="row center-xs">
			{% render 'pagination', paginate: paginate %}
		</div>
	</div>
{% endpaginate %}

{% schema %}
	{
		"name": "Collection Products",
		"class": "feather-product__list",
		"tag": "section",
		"settings": [
			{
				"id": "paginate_count",
				"type": "number",
				"label": "Paginate Products By",
				"default": 10
			}
		]
	}
{% endschema %}