{% if section.blocks.size > 0 %}
	<div class="container container--padding">
		<div class="row">
			{% if section.settings.title %}
				<h5>{{ section.settings.title }}</h5>
			{% endif %}
		</div>
		<div class="row">
			<!-- Slider main container -->
				<div data-swiper={{ section.id }} class="swiper">
				  <!-- Additional required wrapper -->
				  <div class="swiper-wrapper">
				    <!-- Slides -->
				    {% for item in section.blocks %}
				    	{% assign ref = all_products[item.settings.product] %}
				    	<div class="swiper-slide">
				    		{% render 'item', item: ref %}
				    	</div>
				    {% endfor %}
				    ...
				  </div>
				  <!-- If we need pagination -->
				  <div class="swiper-pagination"></div>

				  <!-- If we need navigation buttons -->
				  <div class="swiper-button-prev"></div>
				  <div class="swiper-button-next"></div>

				  <!-- If we need scrollbar -->
				  <div class="swiper-scrollbar"></div>
				</div>
		</div>
	</div>
{% endif %}

{% schema %}
	{
		"name": "Swiper",
		"tag": "section",
		"class": "feather-swiper",
		"settings": [
			{
				"id": "title",
				"type": "text",
				"label": "Title",
				"default": "Make it complete"
			}
		],
		"blocks": [
			{
	      "type": "product",
	      "name": "Product",
	      "settings": [
	        {
	          "id": "product",
	          "type": "product",
	          "label": "Product"
	        }
	      ]
	    }
	  ],
  	"presets": [
  		{
  			"name": "Swiper",
  			"blocks": [
  				{
  					"type": "product"
  				}
  			]
  		}
  	]
	}
{% endschema %}