<div class="container container--padding">
	<div class="feather-product__title">
		<h1>{{ product.title }}</h1>
	</div>
	<div class="feather-product__price">
		<p>{{ product.price | money }}</p>
	</div>
	{% render 'product-options' %}
	{% render 'product-add-to-cart' %}
	<div class="feather-product__id">
		<p>Product ID: {{ product.id }}</p>
	</div>
	{% render 'product-description' %}
</div>

{% schema %}
	{
		"name": "Product Details",
		"class": "feather-product__details col-xs-12 col-lg-6",
		"tag": "section",
		"blocks": [
	    {
	      "type": "materials",
	      "name": "Materials",
	      "settings": [
	        {
	          "id": "title",
	          "type": "text",
	          "label": "Label"
	        },
	        {
	          "id": "value",
	          "type": "text",
	          "label": "Value"
	        }
	      ]
	    },
	    {
	      "type": "dimensions",
	      "name": "Dimensions",
	      "settings": [
	        {
	          "id": "title",
	          "type": "text",
	          "label": "Label"
	        },
	        {
	          "id": "value",
	          "type": "text",
	          "label": "Value"
	        }
	      ]
	    },
	    {
	      "type": "weight",
	      "name": "Weight",
	      "settings": [
	        {
	          "id": "title",
	          "type": "text",
	          "label": "Label"
	        },
	        {
	          "id": "value",
	          "type": "text",
	          "label": "Value"
	        }
	      ]
	    },
	    {
	      "type": "shipping",
	      "name": "Shipping Details",
	      "settings": [
	        {
	          "id": "title",
	          "type": "text",
	          "label": "Label"
	        },
	        {
	          "id": "value",
	          "type": "text",
	          "label": "Value"
	        }
	      ]
	    },
	    {
	      "type": "other",
	      "name": "Other",
	      "settings": [
	        {
	          "id": "title",
	          "type": "text",
	          "label": "Label"
	        },
	        {
	          "id": "value",
	          "type": "text",
	          "label": "Value"
	        }
	      ]
	    }
	  ]
	}
{% endschema %}
