{% liquid
	assign images = nil

	assign image = product.featured_image.src | img_url: 'master'
	if images == nil and product.featured_image.src
		assign images = image | append: ':' | append: 'Featured Image'
	endif
	if images != nil and product.featured_image.src
		assign images = images | append: ',' | append: image | append: ':' | append: 'Featured Image'
	endif

	if product.variants.size > 0
		for variant in product.variants
			if variant.featured_image
				assign image = variant.featured_image.src | img_url: 'master'
				if images == nil
					assign images = image | append: ':' | append: variant.title
				else
					assign images = images | append: ',' | append: image | append: ':' | append: variant.title
				endif
			endif
		endfor
	endif

	if product.images.size > 0
		for img in product.images
			assign image = img.src | img_url: 'master'
			if images == nil
				assign images = image | append: ':' | append: product.title
			else
				assign images = images | append: ',' | append: image | append: ':' | append: product.title
			endif
		endfor
	endif

	assign images = images | split: ','
%}

<div class="container">
	<div data-variant-slider="{{ section.id }}" class="glide">
		<div data-glide-el="track" class="glide__track">
			<ul class="glide__slides">
				{% for image in images %}
					{% liquid 
						assign key_value = image | split: ':'
					%}
					<li>
						<img
							src="{{ key_value[0] }}"
							alt="{{ key_value[1] }}"
						/>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div data-glide-el="controls" class="glide__arrows">
	    <button class="glide__arrow glide__arrow--left" data-glide-dir="<">{% render 'icon-arrow'%}</button>
	    <button class="glide__arrow glide__arrow--right" data-glide-dir=">">{% render 'icon-arrow'%}</button>
	  </div>
	</div>
</div>

{% schema %}
	{
		"name": "Product Variant Slider",
		"class": "feather-product__variant-slider col-xs-12 col-lg-6",
		"tag": "section",
		"settings": []
	}
{% endschema %}

