<div class="container container--padding">
	<div class="row">
		<div class="col-xs-12 col-md-4">
			<h5>{{ section.settings.tagline }}</h5>
		</div>
		<div class="feather-product__gallery-images col-xs-12 col-md-8">
			<div class="row">
				{% for block in section.blocks %}
					{% liquid 
						assign alt = product.title
						if block.image.alt
							assign alt = block.settings.image.alt
						endif
					%}
					<div class="feather-product__gallery-image col-xs-12 col-md-6">
						<img src="{{ block.settings.image.src | img_url: '1200x' }}" alt="{{ alt }}">
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

{% schema %}
	{
		"name": "Product Gallery",
		"tag": "section",
		"class": "feather-product__gallery",
		"settings": [
			{
				"id": "tagline",
				"type": "text",
				"label": "Tagline",
				"default": "It's the piece that could tie up your room"
			}
		],
		"max_blocks": 4,
		"blocks": [
			{
	      "type": "images",
	      "name": "Gallery Images",
	      "settings": [
	        {
	          "id": "image",
	          "type": "image_picker",
	          "label": "Gallery Image"
	        }
	      ]
	    }
	  ]
	}
{% endschema %}