{% if section.blocks.size > 0 %}
	<div class="container container--padding">
		{% if section.settings.title %}
			<h5>{{ section.settings.title }}</h5>
		{% endif %}
			<div class="row">
				<div data-related-product-slider="{{ section.id }}" class="glide">
					<div data-glide-el="track" class="glide__track">
						<ul
							data-recommendations
							data-section="{{ section.id }}"
							data-product="{{ product.id }}"
							class="glide__slides"
						>
							{% for item in section.blocks %}
								{% assign ref = all_products[item.settings.product] %}
								<li data-in-view class="feather-product__related-item">{% render 'item', item: ref %}</li>
							{% endfor %}
							{% if section.blocks.size < 4 %}
								{% assign count = 3 | minus: section.blocks.size %}
								{% for i in (0..count) %}
									{% liquid 
										assign item = section.blocks[i]
										assign ref = all_products[item.settings.product]
									%}
									<li data-in-view class="feather-product__related-item feather-product__related-item--duplicate">{% render 'item', item: ref %}</li>
								{% endfor %}
							{% endif %}
						</ul>
					</div>
					<div data-glide-el="controls" class="glide__arrows">
				    <button class="glide__arrow glide__arrow--left" data-glide-dir="<">{% render 'icon-arrow'%}</button>
				    <button class="glide__arrow glide__arrow--right" data-glide-dir=">">{% render 'icon-arrow'%}</button>
				  </div>
				</div>
			</div>
	</div>
{% endif %}

{% schema %}
	{
		"name": "Related Products",
		"tag": "section",
		"class": "feather-product__related",
		"settings": [
			{
				"id": "title",
				"type": "text",
				"label": "Title",
				"default": "Make it complete"
			}
		],
		"blocks": [
			{
	      "type": "products",
	      "name": "Products",
	      "settings": [
	        {
	          "id": "product",
	          "type": "product",
	          "label": "Product"
	        }
	      ]
	    }
	  ]
	}
{% endschema %}