<div class="container container--padding">
	<div class="feather-product__title">
		<h1>{{ product.title }}</h1>
	</div>
	<div class="feather-product__price">
		<p>{{ product.price | money }}</p>
	</div>
	{% render 'option-selector' %}
	{% render 'add-to-cart' %}
</div>

{% schema %}
	{
		"name": "Product Details",
		"class": "feather-product__details col-xs-12 col-lg-6",
		"tag": "section",
		"settings": []
	}
{% endschema %}
