{% liquid
	
	assign url = nil

	if section.settings.video_url and section.settings.video_url contains 'youtube.com/watch?v='
		assign constructor = section.settings.video_url | split: '='
		assign url = 'https://www.youtube.com/embed/' | append: constructor[1]
	endif

	if section.settings.video_url and section.settings.video_url contains 'vimeo.com'
		assign constructor = section.settings.video_url | split: 'vimeo.com/'
		assign url = 'https://player.vimeo.com/video/' | append: constructor[1]
	endif

	assign videoCol = 'col-xs-12'
	if section.settings.tagline
		assign videoCol = 'col-xs-12 col-md-8'
	endif

	assign textCol = 'col-xs-12'
	if url
		assign textCol = 'col-xs-12 col-md-4'
	endif
%}

{% if section.settings.tagline or section.settings.video or section.settings.video_url %}
	<div class="container container--padding">
		<div class="row">
			{% if section.settings.tagline %}
				<div class="{{ textCol }}">
					<h5>{{ section.settings.tagline }}</h5>
				</div>
			{% endif %}
			{% if url %}
				<div class="{{ videoCol }} first-md">
					<iframe
						src="{{ url }}"
						frameborder="0"
						allow="fullscreen;picture-in-picture"
						allowfullscreen
					></iframe>
				</div>
			{% endif %}
		</div>
	</div>
{% endif %}

{% schema %}
	{
		"name": "Product Video",
		"tag": "section",
		"class": "feather-product__video",
		"settings": [
			{
				"id": "tagline",
				"type": "text",
				"label": "Tagline"
			},
			{
			  "type": "video_url",
			  "id": "video_url",
			  "label": "Video URL",
			  "accept": [
			    "youtube",
			    "vimeo"
			  ]
			}
		]
	}
{% endschema %}