{% liquid
	assign images = ''
	if product.variants.size > 0
		for variant in product.variants
			if variant.featured_image
				assign image = variant.featured_image.src | img_url: 'master'
				assign images = images | append: ',' | append: image | append: ':' | append: variant.title
			endif
		endfor
	endif

	assign images = images | split: ','

	if images.size == 0
		assign image = product.featured_image.src | img_url: 'master'
		assign images = image | append: ':' | append: product.title
	endif
%}

<div class="container">
	<div data-glide="{{ section.id }}" class="col-xs-12 glide">
		<div data-glide-el="track" class="glide__track">
			<ul class="glide__slides">
				{% for image in images %}
					{% liquid 
						assign key_value = image | split: ':'
					%}
					<li>
						<img
							src="{{ key_value[0] }}"
							alt="{{ key_value[1] }}"
						/>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div data-glide-el="controls" class="glide__arrows">
	    <button class="glide__arrow glide__arrow--left" data-glide-dir="<">{% render 'icon-arrow'%}</button>
	    <button class="glide__arrow glide__arrow--right" data-glide-dir=">">{% render 'icon-arrow'%}</button>
	  </div>
	</div>
</div>

{% schema %}
	{
		"name": "Product Variant Slider",
		"class": "feather-product__variant-slider",
		"tag": "section",
		"settings": []
	}
{% endschema %}

