<div class="container container--padding">
  <div class="form">
    <h6>New customer</h6>
    {%- form 'create_customer', novalidate: 'novalidate' -%}
      {% render 'form-errors', section: section.id, form: 'register', errors: form.errors %}
      <div class="row">
        <div class="form__input col-xs-12 col-md-6"  data-input="first_name">
          <label for="first_name">First name</label>
          <input placeholder="First last_name" type="text" name="customer[first_name]">
        </div>
        <div class="form__input col-xs-12 col-md-6"  data-input="last_name">
          <label for="last_name">Last name</label>
          <input placeholder="Last Name" type="text" name="customer[last_name]">
        </div>
      </div>

      <div class="row">
        <div class="form__input col-xs-12 col-md-6"  data-input="email">
          <label for="email">Email</label>
          <input placeholder="Email" type="email" name="customer[email]">
        </div>
      </div>

      <div class="row">
        <div class="form__input col-xs-12 col-md-6"  data-input="password">
          <label for="password">Password</label>
          <input placeholder="Password" type="password" name="customer[password]">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <input class="button button--primary" type="submit" value="Create" />
        </div>
      </div>
    {%- endform -%}
  </div>
</div>

{% schema %}
  {
    "name": "Authentication",
    "class": "feather-registration-form",
    "tag": "section"
  }
{% endschema %}