<div class="container container--padding container--sm">  
  <div class="form">
    <h6>Reset Password</h6>
    {% form 'reset_customer_password' %}
      {% render 'form-errors', section: section.id, form: 'reset-password', errors: form.errors %}
      {% render 'form-success', form: 'reset-password', message: 'Password Reset!' %}
      <div class="row">
        <div class="form__input  col-xs-12" data-input="password">
          <label for="password">Password</label>
          <input
            placeholder="Password"
            type="password"
            name="customer[password]"
          />
        </div>
      </div>
      <div class="row">
        <div class="form__input  col-xs-12" data-input="confirm-password">
          <label for="confirm-password">Confirm Password</label>
          <input
            placeholder="Confirm Password"
            type="password"
            name="customer[password_confirmation]"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <button class="button button--primary" type="submit">Submit</button>
        </div>
      </div>
    {% endform %}
  </div>
</div>

{% schema %}
  {
    "name": "Reset Password Form",
    "class": "feather-reset-password-form",
    "tag": "section"
  }
{% endschema %}