{% liquid
	assign videoCol = 'col-xs-12'
	if section.settings.tagline
		assign videoCol = 'col-xs-12 col-md-8'
	endif

	assign textCol = 'col-xs-12'
	if url
		assign textCol = 'col-xs-12 col-md-4'
	endif

	assign video_width = nil
	if section.settings.video_width != 'fluid'
		assign tagline_container_width = section.settings.video_width
	endif
%}

{% if section.settings.tagline or section.settings.video or section.settings.video_url %}
	<div class="container container--padding{% if video_width %} container--{{ video_width }}{% endif %}">
		<div class="row">
			{% if section.settings.tagline %}
				<div class="{{ textCol }}">
					<h5>{{ section.settings.tagline }}</h5>
				</div>
			{% endif %}
			{% render 'video-url', video_url: section.settings.video_url %}
		</div>
	</div>
{% endif %}

{% schema %}
	{
		"name": "Video",
		"tag": "section",
		"class": "feather-video",
		"settings": [
			{
				"id": "tagline",
				"type": "text",
				"label": "Tagline"
			},
			{
			  "type": "video_url",
			  "id": "video_url",
			  "label": "Video URL",
			  "accept": [
			    "youtube",
			    "vimeo"
			  ]
			},
			{
				"id": "video_width",
				"type": "select",
				"label": "Max Width",
				"options": [
			    {
			      "value": "xs",
			      "label": "Extra Small"
			    },
			    {
			      "value": "sm",
			      "label": "Small"
			    },
			    {
			      "value": "md",
			      "label": "Medium"
			    },
			    {
			      "value": "lg",
			      "label": "Large"
			    },
			    {
			      "value": "xl",
			      "label": "Extra Large"
			    },
			    {
			      "value": "fluid",
			      "label": "Fluid"
			    }
			  ],
			  "default": "xl"
			}
		],
  	"presets": [
  		{
  			"name": "Video"
  		}
  	]
	}
{% endschema %}