.feather-address {
	display: flex;
	flex-direction: column;
	padding: $gutter;

	&--default {
		background-color: $gray;
		border: 1px solid $stroke;
	}

	&__default,
	&__editable {
		font-size: 12px;
	}

	&__editable {
		margin-top: auto;

		a {
			cursor: pointer;
		}
	}

	&__delete {
		width: max-content;
		display: inline;
		margin: 0;
		padding: 0;

		button {
			width: auto;
			height: auto;
			margin: auto;
			padding: 0;
			line-height: 1;
			border: none;
			color: $error;
			text-transform: lowercase;
		}
	}
}
