.button,
a.button,
input.button {
	&--primary,
	&--primary:focus {
		color: #fff;
		border-color: $primary;
		background-color: $primary;

		&:hover {
			background-color: #fff;
			border-color: $primary;
			color: $primary;
		}
	}

	&--disabled,
	&--disabled:focus {
		color: $text;
		border-color: $border;
		background-color: $stroke;
		pointer-events: none;
	}
}
