.button,
a.button,
input.button {
	&--primary {
		color: #fff;
		border-color: $primary;
		background-color: $primary;
	}

	&--disabled {
		color: $text;
		border-color: $border;
		background-color: $stroke;
		pointer-events: none;
	}
}
