.feather-cart-item {
	position: relative;
	padding-bottom: $padding;
	margin-bottom: $padding;
	border-bottom: 1px soild $stroke;

	&-image {
		img {
			width: 100%;
			display: block;
			border: 1px solid $stroke;
		}
	}

	&-title {
		h5 {
			font-size: 16px;
			font-weight: 500;
		}

		p {
			margin-bottom: 0;
			font-size: 12px;

			span {
				font-weight: 300;
			}
		}
	}

	&-quantity {
		input {
			width: 100px;
			margin: 0;
		}
	}

	&-price,
	&-total {
		width: auto;
		font-size: 16px;
		font-weight: 300;
		color: $text;

		p {
			margin: 0;
		}
	}

	&-total {
		p {
			font-weight: 600;
		}
	}

	&-remove {
		@include flex(row, center, center);
		width: 20px;
		height: 20px;
		position: absolute;
		top: 0;
		right: 0;
		border: 1px solid $stroke;
		cursor: pointer;
		transition: all 200ms;

		svg {
			width: 10px;
			height: 10px;
			display: block;

			* {
				fill: $light-text;
			}
		}

		&:hover {
			background-color: $stroke;
		}
	}
}
