body.cart main {
	padding: multiply($padding, 2) 0;
	@media (min-width: #{$lg}) {
		@include flex(row, flex-start, flex-start, wrap);
	}

	.feather-cart-title,
	.feather-cart-items,
	.feather-cart-summary {
		width: 100%;
	}

	.feather-cart-items {
		@media (min-width: #{$lg}) {
			width: calc(100% - 320px - #{multiply($padding, 2)});
		}

		@media (min-width: #{$xl}) {
			width: calc(70% - #{multiply($padding, 2)});
		}
	}

	.feather-cart-summary {
		.container {
			width: calc(100% - #{multiply($padding, 2)});
			margin: 0 auto;

			@media (min-width: #{$lg}) {
				width: 100%;
			}
		}

		@media (min-width: #{$lg}) {
			width: 320px;
			margin-left: $padding;
		}

		@media (min-width: #{$xl}) {
			width: 30%;
		}
	}

	.feather-cart-title {
		h1 {
			margin: 0;
			font-size: 40px;
			font-family: $ibarra;
			color: $text;
		}
	}

	.feather-cart-items {
		&__header {
			margin-bottom: $padding;
			border-bottom: 1px solid $stroke;

			p {
				margin: 0;
				color: $text;
				text-transform: uppercase;
				font-size: 12px;
			}
		}

		&__header,
		.feather-cart-item {
			width: 100%;
			padding-right: multiply($padding, 2);

			&-image,
			&-title,
			&-quantity,
			&-price,
			&-total {
				@include feather-col;
				@include feather-width(12);
				position: relative;
			}

			&-image,
			&-title,
			&-quantity,
			&-price {
				margin-bottom: $padding;
			}

			&-quantity,
			&-price,
			&-total {
				text-align: right;

				&::before {
					position: absolute;
					top: 50%;
					left: 0;
					transform: translateY(-50%);
					color: $text;
					font-weight: 600;
					font-size: 14px;
					text-decoration: capitalize;
				}

				@media (min-width: #{$sm}) {
					@include feather-width(4);
					padding-top: multiply($padding, 2);
					margin-bottom: 0;

					&::before {
						left: unset;
						right: 0;
						top: 0;
						transform: translateY(0);
					}
				}

				@media (min-width: #{$xl}) {
					padding-top: 0;
					&::before {
						content: none !important; // overrides labels below
					}
				}
			}

			&-price,
			&-total {
				p {
					color: $text;
				}
			}

			&-image {
				@media (min-width: #{$sm}) {
					@include feather-width(4);
				}

				img {
					width: auto;
					max-width: calc(100% - #{multiply($padding, 2)});

					@media (min-width: #{$sm}) {
						width: 100%;
						max-width: 100%;
					}
				}
			}

			&-title {
				@media (min-width: #{$sm}) {
					@include feather-width(8);
				}
			}

			&-quantity {
				&::before {
					content: 'Quantity';
				}

				@media (min-width: #{$md}) {
					@include feather-offset(4);
					@include feather-width(2);
				}

				@media (min-width: #{$xl}) {
					margin-left: 0;
				}

				input {
					display: inline-block;
				}
			}

			&-price {
				&::before {
					content: 'Price';
				}

				@media (min-width: #{$md}) {
					@include feather-width(3);
				}
			}

			&-total {
				&::before {
					content: 'Total';
				}

				@media (min-width: #{$md}) {
					@include feather-width(3);
				}
			}

			&-image,
			&-title,
			&-quantity,
			&-price,
			&-total {
				@media (min-width: #{$xl}) {
					width: calc(100% / 5 - 6px);
					max-width: 100%;
					flex-basis: auto;
				}
			}
		}
	}

	.feather-cart-summary {
		.container {
			background-color: $gray;
		}

		.row {
			margin-bottom: multiply($padding, 2);

			&:last-of-type {
				margin-bottom: 0;
			}
		}

		h5 {
			margin-bottom: 0;
			font-family: $ibarra;
			color: $text;
			text-transform: lowercase;
		}

		.feather-cart-subtotal {
			border: none;

			.feather-discount,
			.feather-subtotal,
			.feather-total {
				@include feather-col;
				@include feather-width(12);
				@include flex(row, space-between, center);
				margin-bottom: $padding;

				p {
					margin: 0;
					color: $text;
				}
			}

			.feather-total {
				margin-top: $padding;
				padding-top: $padding;
				border-top: 1px solid $stroke;

				p {
					font-weight: 900;
					letter-spacing: 0.5px;
				}
			}
		}
	}
}
