.feather-collection {
	&__header {
		width: 100%;
		overflow: hidden;

		.container {
			height: 75vh;
			min-height: 300px;
			max-height: 480px;
			background-color: $gray;
		}

		h1 {
			text-transform: uppercase;
			color: $text;
		}

		picture,
		img {
			width: 100%;
			height: 100%;
			display: block;
		}

		picture {
			position: fixed;
			top: 0;
			left: 0;
			z-index: -1;
		}

		img {
			object-fit: cover;
		}

		picture + .container {
			background-color: transparent;

			h1 {
				color: #fff;
			}
		}
	}

	&__list {
		background-color: #fff;

		ul {
			list-style: none;
		}
	}

	&__item {
		display: inline-block;
		margin-bottom: $padding;
		padding-bottom: $padding;
		border-bottom: 1px solid #{$stroke};
		text-decoration: none;

		&-image {
			margin-bottom: $padding;
			aspect-ratio: 1/1;
			background-color: $gray;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				display: block;
			}
		}

		&-title {
			h6 {
				color: $text;
				font-weight: 700;
			}
		}
	}
}
