.feather-filters {
	&__btn {
		width: 100%;
		@include flex(row, center, center);

		svg *,
		span {
			transition: all 200ms;
		}

		svg {
			width: 25px;
			display: inline-block;
		}

		span {
			margin-left: 5px;
			font-weight: 300;
			font-size: 16px;
		}

		&:hover {
			svg {
				* {
					fill: $primary;
				}
			}

			span {
				color: $primary;
			}
		}
	}

	&--checklist {
		.feather-filters__item {
			input {
				margin: 0;
				font-weight: 400;
				color: $text;

				&[type='checkbox'],
				&[type='checkbox'] + label {
					cursor: pointer;
				}
			}

			label {
				margin: 0 0 0 $padding;
				line-height: 1;
				font-weight: 400;
				color: $text;
			}

			& + .feather-filters__item {
				margin-top: $padding;
			}
		}
	}

	&--price {
		&::after {
			content: '';
			width: calc(#{$padding} / 2);
			height: 1px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, 12px);
			background-color: $text;
		}

		.feather-filters__item {
			&.input {
				width: calc(50% - #{$padding});
				float: left;

				label {
					font-size: 12px;
					font-weight: 300;
				}

				input {
					max-width: 100%;
					margin-bottom: 0;
					padding: 6px;
				}
			}

			& + .feather-filters__item {
				margin-left: multiply($padding, 2);
			}
		}
	}
}
