.feather-filters {
	&__btn {
		width: 100%;
		@include flex(row, center, center);

		svg *,
		span {
			transition: all 200ms;
		}

		svg {
			width: 25px;
			display: inline-block;
		}

		span {
			margin-left: 5px;
			font-weight: 300;
			font-size: 16px;
		}

		&:hover {
			svg {
				* {
					fill: $primary;
				}
			}

			span {
				color: $primary;
			}
		}
	}

	&__filters {
		@media (max-width: #{$md}) {
			width: 100%;
			height: 90%;
			position: fixed;
			top: 100%;
			left: 0;
			margin: 0;
			padding: $gutter;
			flex-direction: column;
			border-radius: 8px 8px 0 0;
			background-color: #fff;
			z-index: 2;

			> * {
				align-self: start;
			}
		}

		.feather-filters__header {
			width: 100%;
			margin-bottom: $gutter;

			h4 {
				margin: 0;
			}

			a {
				width: 15px;
				display: inline-block;
				margin-left: auto;
				cursor: pointer;

				svg {
					* {
						fill: $text;
					}
				}
			}
		}

		&.animate__fadeInUp {
			@media (max-width: #{$md}) {
				top: 10%;
			}
		}
	}

	&__sort {
		.feather-pagination {
			display: none;

			@media (min-width: #{$md}) {
				display: flex;
			}
		}

		.feather-select {
			margin-bottom: 0;
		}
	}

	&--checklist {
		.feather-filters__item {
			input {
				margin: 0;
				font-weight: 400;
				color: $text;

				&[type='checkbox'],
				&[type='checkbox'] + label {
					cursor: pointer;
				}
			}

			label {
				margin: 0 0 0 $gutter;
				line-height: 1;
				font-weight: 400;
				color: $text;
			}

			& + .feather-filters__item {
				margin-top: $gutter;
			}
		}
	}

	&--price {
		&::after {
			content: '';
			width: calc(#{$gutter} / 2);
			height: 1px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, 12px);
			background-color: $text;
		}

		.feather-filters__item {
			&.input {
				width: calc(50% - #{$gutter});
				float: left;

				label {
					font-size: 12px;
					font-weight: 300;
				}

				input {
					max-width: 100%;
					margin-bottom: 0;
					padding: 6px;
				}
			}

			& + .feather-filters__item {
				margin-left: multiply($gutter, 2);
			}
		}
	}
}
