body.collection {
	.feather-filters {
		.row {
			padding-right: $padding;
			padding-left: divide($padding, 2);
		}
	}
}

.feather-collection,
.feather-product {
	&__list {
		background-color: #fff;

		ul {
			list-style: none;
		}

		@include grid-animation;
	}
}

.feather-list {
	&__item {
		display: inline-block;
		margin-bottom: multiply($padding, 2);
		padding-bottom: multiply($padding, 2);
		border-bottom: 1px solid #{$stroke};
		text-decoration: none;

		&-image {
			margin-bottom: $padding;
			aspect-ratio: 1/1;
			overflow: hidden;
			background-color: $gray;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				display: block;
				transition: all 200ms;
			}
		}

		&-title {
			h6 {
				margin: 0;
				color: $text;
				font-weight: 700;
			}
		}

		&-price {
			p {
				font-weight: 400;
				color: $light-text;
			}
		}

		&:hover {
			img {
				transform: scale(0.9, 0.9);
			}

			h6 {
				color: $primary;
			}
		}
	}
}
