.feather-loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid $primary;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.feather-loading {
  width: 0%;
  height: 3px;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: $primary;
  pointer-events: none;
  transition: width 200ms ease-in;

  &[data-loading='true'] {
    opacity: 1;
  }
}
