.feather-modal {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0px;
	left: 0;
	display: none;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(10px);
	z-index: 99;
	opacity: 0;
	pointer-events: none;

	&__dialog {
		width: calc(100% - #{multiply($gutter, 2)});
		max-width: $md;
		background-color: #fff;
		border-radius: 4px;
		border: 1px solid $stroke;
		box-shadow: $box-shadow;
	}

	&__close-btn {
		width: auto;
		height: auto;
		position: absolute;
		top: $gutter;
		right: $gutter;
		padding: 0;
		line-height: 1;
		border: none;

		svg {
			width: 20px;
			height: 20px;
		}
	}

	&__dialog-header {
		position: relative;
	}

	&--active {
		display: flex;
		pointer-events: all;
	}
}
