body.account {
	main {
		@include feather-row;
		max-width: $lg;
		margin: 0 auto;
		padding: multiply($gutter, 4) 0;

		section {
			@include feather-col;
			@include feather-width(12);

			&.feather-current-address {
				@media (min-width: #{$md}) {
					@include feather-width(4);
				}
			}

			&.feather-orders {
				@media (min-width: #{$md}) {
					@include feather-width(8);
				}

				table {
					width: 100%;

					tbody {
						tr {
							td {
								vertical-align: top;
							}

							&:nth-of-type(even) {
								background-color: $gray;
							}
						}
					}
				}
			}
		}
	}
}
