.feather-pagination {
	@include flex(row, center, center);

	.button {
		margin: 0;
		font-size: 16px;
		font-weight: 300;

		& + .button {
			margin-left: divide($padding, 2);
		}
	}

	&__first,
	&__prev,
	&__last,
	&__next,
	&__page {
		&--disabled {
			color: $stroke;
			pointer-events: none;
		}

		&--active,
		&:hover {
			border-color: $primary;
			color: $primary;
		}

		&:hover {
			background-color: $gray;
		}
	}
}
