footer {
	width: 100%;
	background-color: $gray;

	.footer {
		&__tagline {
			h5 {
				font-family: $josefin;
				font-size: 22px;
				font-weight: 700;
				font-style: italic;
			}
		}

		&__address {
			h6 {
				font-size: 16px;
				font-weight: 500;
			}
		}
	}
}
