.swiper {
	&-slide {
		display: flex;
		justify-content: center;
	}

	&-button-next,
	&-button-prev {
		color: var(--feather-primary);
	}

	&-pagination-bullet {
		background-color: var(--feather-stroke);

		&-active {
			background-color: var(--feather-primary);
		}
	}

	.feather-list__item {
		width: 100%;
		position: relative;
		border: none;

		&:hover {
			img {
				transform: scale(1, 1);
			}
		}
	}
}
