.feather-product__related {
	h5 {
		font-size: 35px;
		font-family: $ibarra;
	}

	&-item {
		@include curtain-animation;

		.feather-list__item {
			margin: 0;
			padding: 0;
			border: none;
		}
	}
}
