$grid-image: 50px;

.feather-information-grid {
	width: 100%;

	&__items {
		padding-top: multiply($padding, 2);
		padding-bottom: multiply($padding, 2);
	}

	&__item {
		@include flex(row, space-between, flex-start, nowrap);
		margin-bottom: $padding;

		&-image {
			width: $grid-image;

			img {
				width: 100%;
				display: block;
			}
		}

		&-details {
			width: calc(100% - #{$grid-image} - #{$padding});
			text-align: left;

			h5 {
				text-align: left;
				font-family: $ibarra;
				color: $text;
			}

			p {
				color: $text;
				font-weight: 300;
				text-align: justify;
			}
		}

		&:nth-of-type(odd):last-of-type {
			@media (min-width: #{$sm}) and (max-width: #{$lg}) {
				width: 100%;
				max-width: 100%;
				flex-basis: 100%;
			}
		}
	}
}
