footer {
	width: 100%;
	background-color: $gray;

	.footer {
		&__details {
			&-tagline {
				h5 {
					font-family: $josefin;
					font-size: 28px;
					font-style: italic;
					line-height: 1.75;
				}
			}
			&-detail {
				& + .footer__details-detail {
					margin-top: $padding;
				}

				h6,
				p,
				a {
					color: $text;
				}

				h6 {
					margin-bottom: 8px;
					font-size: 14px;
					font-weight: 700;
					text-transform: uppercase;
				}

				p,
				a {
					display: block;
					margin: 0;
					font-size: 16px;
					font-weight: 300;
				}

				a {
					text-decoration: none;

					&:hover {
						color: $primary;
					}
				}
			}
		}
	}
}
