#mobile-menu {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	padding: $padding;
	background-color: #fff;
	opacity: 0;
	pointer-events: none;
	transition: 200ms opacity ease-out;
	z-index: 10;

	.nav {
		ul {
			margin: 0;

			li {
				margin: 0;
				list-style: none;

				a,
				span {
					color: #000;
					text-decoration: none;
					text-transform: uppercase;
					font-size: 14px;
					letter-spacing: 1px;
				}

				a {
					&:hover {
						color: $blue;
					}
				}
			}

			span {
				svg {
					width: 10px;
					display: inline-block;
					vertical-align: middle;
				}
			}

			& + ul {
				margin-top: calc($padding * 2);
			}
		}

		&__links {
			> .nav__item + .nav__item,
			> .nav__item + .nav__item-dropdown,
			> .nav__item-dropdown + .nav__item,
			> .nav__item-dropdown + .nav__item-dropdown {
				margin-top: 20px;
			}
		}

		&__item-dropdown {
			span {
				font-weight: bold;
			}
		}
	}
}
