header {
	.container {
		.nav {
			width: 100%;
			min-height: 80px;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			flex-wrap: wrap;

			&__logo {
				a {
					text-decoration: none;
					letter-spacing: 1px;
				}
			}

			&__links {
				opacity: 0;
				pointer-events: none;
			}

			&__mobile-menu-btn {
				width: 20px;
				height: 20px;
				margin-left: auto;

				.icon {
					&-hamburger {
						//
					}

					&-close {
						display: none;
					}
				}
			}
		}
	}
}
