.feather-product__details {
	> .container--padding {
		padding-top: multiply($padding, 3);

		@media (min-width: #{$lg}) {
			max-width: divide($xl, 2);
			margin: 0;
		}
	}

	.feather-product {
		&__title {
			h1 {
				margin-bottom: 5px;
				color: $text;
				font-family: $ibarra;

				@media (min-width: #{$lg}) {
					font-size: 40px;
				}
			}
		}

		&__price {
			p {
				font-family: $ibarra;
				font-size: 30px;
				color: $primary;

				@media (min-width: #{$lg}) {
					font-size: 40px;
				}
			}
		}

		&__options {
			margin-bottom: $padding;
		}

		&__option {
			@include flex(row, flex-start, center, wrap);
			margin-bottom: $padding;

			p {
				width: 100%;
				margin-bottom: 10px;
				font-size: 16px;
				line-height: 1;
				color: $text;
				font-weight: 300;
				text-transform: lowercase;
			}
		}

		&__option-value {
			min-width: min-content;
			margin-right: $padding;
			padding: 5px 15px;
			border: 1px solid $stroke;
			border-radius: 50vh;
			cursor: pointer;
			transition: all 200ms;

			span {
				font-size: 14px;
				font-weight: 300;
				line-height: 1;
				transition: all 200ms;
			}

			span[style] {
				width: 15px;
				height: 15px;
				position: relative;
				top: 2.5px;
				display: inline-block;
				border-radius: 100%;

				& + span {
					margin-left: 5px;
				}
			}

			span[style=''] {
				display: none;
			}

			&:hover {
				border-color: $primary;

				span {
					color: $primary;
				}
			}

			&--active {
				background-color: $primary;

				span {
					color: #fff;
				}

				&:hover {
					span {
						color: #fff;
					}
				}
			}
		}

		&__add-to-cart {
			margin-bottom: multiply($padding, 2);
			padding-bottom: multiply($padding, 3);
			border-bottom: 1px solid $stroke;

			.input {
				@include flex(row, space-between, center, wrap);
				width: 100%;
			}

			input {
				height: 50px;
				margin-bottom: 0;
				font-size: 16px;

				&[type='number'] {
					width: 25%;
				}

				&[type='submit'] {
					width: calc(75% - #{$padding});
					text-transform: uppercase;
					font-weight: 400;
				}
			}
		}
	}
}
