.feather-product__variant-slider {
	> .container {
		position: sticky;
		top: 0;
	}

	.glide {
		img {
			width: 100%;
			display: block;
		}

		li {
			margin: 0;
		}

		&__arrows {
			position: absolute;
			bottom: 0;
			right: 0;
			background-color: #fff;
		}

		&__arrow {
			height: 50px;
			margin: 0;
			border: none;

			&:hover {
				svg * {
					fill: $primary;
				}
			}

			svg {
				width: 15px;
				height: auto;
				display: block;

				* {
					fill: $text;
					transition: all 400ms;
				}
			}
		}

		&__arrow--left {
			svg {
				transform: rotate(180deg);
			}
		}
	}
}
