.feather-gallery {
	> .container {
		padding-top: multiply($padding, 4);
		padding-bottom: multiply($padding, 4);
	}

	h5 {
		font-family: $ibarra;
		font-size: 35px;
	}

	&-image {
		aspect-ratio: 16 / 9;
		margin-bottom: $padding;

		img {
			width: 100%;
			height: 100%;
			max-width: 100%;
			display: block;
			object-fit: cover;
		}
	}
}
