header {
	.container {
		.nav {
			width: 100%;
			min-height: 80px;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			flex-wrap: wrap;

			&__logo {
				a {
					text-decoration: none;
					letter-spacing: 1px;
					font-size: 24px;
					color: #000;
				}
			}

			ul {
				z-index: 2;

				li {
					margin: 0;
					list-style: none;

					a {
						text-decoration: none;
						text-transform: uppercase;
						font-size: 14px;
						letter-spacing: 1px;
					}
				}
			}

			&__links {
				position: relative;
				display: none;
				margin: 0 0 0 auto;

				@media (min-width: #{$md} ) {
					display: flex;
				}

				> li {
					position: relative;
					&::after {
						content: '';
						width: 0%;
						height: 2px;
						position: absolute;
						bottom: -2px;
						left: 0;
						background-color: $yellow;
						transition: 200ms all ease-out;
					}

					& + li {
						margin-left: $padding;
					}

					a {
						color: #000;
					}

					ul {
						position: absolute;
						top: 100%;
						left: 50%;
						transform: translate(-50%, -10px);
						margin: 0;
						opacity: 0;
						pointer-events: none;
						transition: all 200ms ease-out;

						li {
							a {
								display: block;
								padding: 10px;
								color: #fff;
								background-color: $black;

								&:hover {
									color: $yellow;
								}
							}

							&:first-of-type {
								a {
									padding-top: $padding;
								}
							}

							&:last-of-type {
								a {
									padding-bottom: $padding;
								}
							}
						}
					}

					&:last-of-type {
						ul {
							left: calc(50% - $padding);
						}
					}

					&.nav__item--active,
					&:hover {
						&::after {
							width: 100%;
							transition: 200ms all ease-in;
						}

						ul {
							transform: translate(-50%, 0px);
							opacity: 1;
							pointer-events: all;
							transition: all 200ms ease-in;
						}
					}
				}
			}

			&__mobile-menu-btn {
				width: 20px;
				height: 20px;
				margin-left: auto;
				cursor: pointer;

				@media (min-width: #{$md} ) {
					display: none;
				}

				.icon {
					* {
						fill: $black;
						transition: 200ms all ease-out;
					}
				}

				&:hover {
					.icon {
						* {
							fill: $yellow;
							transition: 200ms all ease-in;
						}
					}
				}
			}
		}
	}
}
