#mobile-menu {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	padding: $padding;
	background-color: #fff;
	opacity: 0;
	pointer-events: none;
	transition: 200ms opacity ease-out;
	z-index: 10;

	.nav {
		ul {
			li {
				margin: 0;
				list-style: none;

				a {
					text-decoration: none;
					color: #000;
					font-size: 24px;
					font-weight: 600;
					letter-spacing: 1px;
				}

				ul {
					li {
						a {
							font-size: 16px;
						}
					}
				}

				&.nav__item-account,
				&.nav__item-cart {
					a {
						svg {
							width: $padding;
							height: auto;
							display: inline-block;

							* {
								transition: all 200ms;
							}
						}
					}

					&:hover {
						svg {
							* {
								fill: $yellow;
							}
						}

						&::after {
							width: 0%;
						}
					}
				}
			}
		}

		.nav__mobile-menu-btn {
			width: 20px;
			height: 20px;
			position: absolute;
			top: 30px;
			right: 20px;
			z-index: 2;
			cursor: pointer;

			.icon {
				* {
					fill: $black;
					transition: 200ms all ease-out;
				}
			}

			&:hover {
				.icon {
					* {
						fill: $yellow;
						transition: 200ms all ease-in;
					}
				}
			}
		}
	}
}
