@import '../node_modules/@glidejs/glide/src/assets/sass/glide.core.scss';

.feather-product-spotlight {
	.container--padding {
		padding-top: multiply(16px, 3);
		padding-bottom: multiply(16px, 3);
	}

	&__tagline {
		p {
			font-family: $ibarra;
			font-size: 26px;
			line-height: 2;

			@media (min-width: #{$md}) {
				padding-right: divide(100%, 3);
				font-size: 32px;
			}

			@media (min-width: #{$lg}) {
				font-size: 40px;
			}
		}
	}

	&__sub-tagline {
		p {
			font-family: $ibarra;
			font-size: 26px;
			line-height: 1.5;

			@media (min-width: #{$md}) {
				text-align: right;
			}
		}
	}

	&__tagline,
	&__sub-tagline {
		p {
			color: $text;
		}
	}

	[data-in-view] {
		transform: translateY(multiply(16px, 3));
		opacity: 0;
		transition-duration: 500ms;
		transition-timing-function: $timing;
	}

	[data-in-view='true'] {
		transform: translateY(0);
		opacity: 1;
	}

	&__items {
		width: 100%;

		img,
		picture {
			width: 100%;
			height: auto;
			display: block;
		}
	}
}
