@import '../node_modules/@glidejs/glide/src/assets/sass/glide.core.scss';
@mixin spotlight-text {
	max-width: 100%;
	position: absolute;
	bottom: $padding;
	left: $padding;
	z-index: 2;
	margin: 0;
	padding-right: multiply($padding, 2);
	overflow: hidden;
	font-family: $ibarra;
	font-size: 20px;
	text-transform: capitalize;
	text-overflow: ellipsis;
	color: #fff;
	white-space: nowrap;
}

.feather-product-spotlight {
	&__tagline {
		.container {
			padding-top: multiply(16px, 3);
			padding-bottom: multiply(16px, 3);
		}

		p {
			font-family: $ibarra;
			font-size: 26px;
			line-height: 2;

			@media (min-width: #{$md}) {
				padding-right: divide(100%, 3);
				font-size: 32px;
			}

			@media (min-width: #{$lg}) {
				font-size: 40px;
			}
		}
	}

	&__sub-tagline {
		p {
			font-family: $ibarra;
			font-size: 26px;
			line-height: 1.5;

			@media (min-width: #{$md}) {
				text-align: right;
			}
		}
	}

	&__tagline,
	&__sub-tagline {
		p {
			color: $text;
		}

		[data-in-view] {
			transform: translateY(multiply(16px, 3));
			opacity: 0;
			transition-duration: 500ms;
			transition-timing-function: $timing;
		}

		[data-in-view='true'] {
			transform: translateY(0);
			opacity: 1;
		}
	}

	&__sub-tagline {
		.container {
			padding-bottom: 0;
		}

		p {
			margin: 0;
		}
	}

	&__items {
		width: 100%;

		a {
			position: relative;
		}

		[data-in-view] {
			&::before {
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background-color: #fff;
				z-index: 3;
				transition: all 500ms ease-out 200ms;
			}
		}

		[data-in-view='true'] {
			&::before {
				height: 0;
			}
		}

		img,
		picture {
			width: 100%;
			height: 100%;
			object-fit: cover;
			display: block;
			transition: all 200ms;
		}

		.glide {
			li {
				height: 400px;
				overflow: hidden;

				&:hover {
					picture,
					img {
						transform: scale(1.1, 1.1);
					}
				}

				a {
					span {
						@include spotlight-text;
					}
				}
			}

			&__arrows {
				text-align: right;
			}

			&__arrow {
				border-color: $stroke;
				transition: all 400ms;

				&:hover {
					border-color: $primary;
					svg * {
						fill: $primary;
					}
				}

				svg {
					width: 15px;
					height: auto;
					display: block;

					* {
						fill: $stroke;
						transition: all 400ms;
					}
				}
			}

			&__arrow--left {
				svg {
					transform: rotate(180deg);
				}
			}
		}
	}

	&__column {
		margin-left: multiply($padding, 3);
		a {
			height: 600px;
			position: relative;
			display: inline-block;
			margin-bottom: multiply($padding, 3);
			overflow: hidden;

			&:nth-child(2n) {
				min-width: calc(120%);
			}

			&:hover {
				picture,
				img {
					transform: scale(1.1, 1.1);
				}
			}

			span {
				@include spotlight-text;
			}
		}

		& + .feather-product-spotlight__column {
			a {
				height: 550px;
			}
		}

		&:nth-of-type(odd) {
			a:nth-child(2n) {
				height: 400px;
				left: -20%;
			}
		}

		&:nth-of-type(even) {
			a {
				height: 500px;

				&:first-of-type {
					margin-top: multiply($padding, 3);
				}

				&:nth-child(2n) {
					height: 400px;
				}
			}
		}
	}

	.container {
		&:first-of-type {
			padding-top: multiply($padding, 6);
		}

		&:last-of-type {
			padding-bottom: multiply($padding, 6);
		}
	}
}
