footer {
	width: 100%;
	background-color: $gray;
	border-top: 1px solid $stroke;
	border-bottom: 1px solid $stroke;

	.container--padding {
		margin: 0 auto;
		padding-top: calc(#{$padding} * 4);
		padding-bottom: calc(#{$padding} * 4);
	}

	.row {
		max-width: $lg;
		margin: 0 auto;
	}

	.footer {
		&__details {
			&-tagline {
				text-align: left;

				h5 {
					font-family: $josefin;
					font-size: 28px;
					font-style: italic;
					line-height: 1.75;
				}
			}

			&-detail {
				text-align: left;

				@media (min-width: #{$md}) {
					text-align: right;
				}

				& + .footer__details-detail {
					margin-top: $padding;
				}

				h6,
				p,
				a {
					color: $text;
				}

				h6 {
					margin-bottom: 8px;
					font-size: 14px;
					font-weight: 700;
					text-transform: uppercase;
				}

				p,
				a {
					display: block;
					margin: 0;
					font-size: 16px;
					font-weight: 300;
				}

				a {
					text-decoration: none;

					&:hover {
						color: $primary;
					}
				}
			}

			&-copyright {
				margin-top: calc(#{$padding} * 4);

				p {
					margin: 0;
				}
			}
		}
	}
}
