.feather-product__related {
	> .container {
		padding-top: multiply($padding, 4);
		padding-bottom: multiply($padding, 4);
	}

	h5 {
		font-size: 35px;
		font-family: $ibarra;
	}

	&-item {
		@include curtain-animation;

		.feather-list__item {
			margin: 0;
			padding: 0;
			border: none;
		}
	}
}
