.feather-reset-password-form {
  .container--padding {
    padding: multiply($gutter, 4) $gutter;
  }

  .row + .row {
    margin-top: $gutter;
  }

  h6 {
    font-weight: 600;
    color: $text;
  }
}
