.feather-generic {
	&__block {
		&--alignment {
			&-left {
				text-align: left;
			}

			&-right {
				text-align: right;
			}

			&-center {
				text-align: center;
			}
		}

		&--url {
			a.button {
				@include flex(row, center, center);
				font-size: inherit;
			}
		}
	}
}
