.feather-select {
	position: relative;
	margin-right: $padding;
	margin-bottom: $padding;
	border: 1px solid $stroke;
	border-radius: 1px;

	&:last-of-type {
		margin-right: 0;
	}

	.container {
		padding: 10px 15px;
	}

	select,
	span {
		color: $text;
		font-weight: 400;
		text-transform: uppercase;
	}

	svg {
		width: 10px;
		display: inline-block;
		margin-left: 5px;

		* {
			fill: $text;
		}
	}

	&--dropdown {
		cursor: pointer;

		select {
			margin: 0;
			border: none;
		}
	}

	&__dropdown {
		width: 100%;
		min-width: max-content;
		position: absolute;
		top: calc(100% + #{$padding});
		left: 0;
		display: none;
		padding: 20px 15px;
		border: 1px solid $stroke;
		border-radius: 1px;
		z-index: 2;
		background-color: #fff;

		&-item {
			flex-wrap: nowrap;
		}
	}

	&--active {
		border-color: $primary;
		box-shadow: 0 0 5px $primary;

		span {
			color: $primary;
		}

		svg {
			transform: rotate(180deg);

			* {
				fill: $primary;
			}
		}

		.feather-select__dropdown {
			display: block;
		}
	}
}
