@import '_reset.scss';
@import '_skeleton.scss';
@import '_variables.scss';
@import '_classes.scss';

@import '_section-header.scss';
@import '_section-mobile-menu.scss';

* {
	box-sizing: border-box;
}

body {
	width: 100%;
	overflow-x: hidden;

	&.mobile-menu-active {
		max-width: 100vw;
		max-height: 100vh;
		overflow: hidden;

		#mobile-menu {
			opacity: 1;
			pointer-events: all;
			z-index: 99;
		}
	}

	main {
		width: 100%;
	}
}
