$xs: 400px;
$sm: 550px;
$md: 750px;
$lg: 1200px;

$padding: 16px;

$box-shadow: 2px 7px 6px rgba(0, 0, 0, 0.35);

$text: var(--feather-text);
$stroke: var(--feather-stroke);
$gray: var(--feather-gray);
$black: var(--feather-black);
$primary: var(--feather-primary);

$josefin: 'Josefin Slab', serif; // Thin 100, Thin 100 Italic, Light 300, Light 300 Italic, Bold 700, Bold 700 Italic

:root {
	--xs: #{$xs};
	--sm: #{$sm};
	--md: #{$md};
	--lg: #{$lg};
}
