$xs: 400px;
$sm: 550px;
$md: 750px;
$lg: 950px;
$xl: 1200px;

$padding: 16px;

$box-shadow: 2px 7px 6px rgba(0, 0, 0, 0.35);

$timing: cubic-bezier(0.455, 0.03, 0.515, 0.955);

$text: var(--feather-text);
$light-text: var(--feather-light-text);
$stroke: var(--feather-stroke);
$border: var(--feather-border);
$gray: var(--feather-gray);
$black: var(--feather-black);
$error: var(--feather-error);
$warning: var(--feather-warning);
$info: var(--feather-info);
$success: var(--feather-primary);
$primary: var(--feather-primary);

$raleway: 'Raleway', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$ibarra: 'Ibarra Real Nova', serif;

:root {
	--xs: #{$xs};
	--sm: #{$sm};
	--md: #{$md};
	--lg: #{$lg};
	--xl: #{$xl};
	--info: #{$info};
	--warning: #{$warning};
	--error: #{$error};
	--success: #{$success};
}
